:root {
  }

* {
    margin: 0px;
    padding: 0px;
}

.no-selection{
    user-select: none;
}

a{
    user-select: none;
    cursor: default;
}

.ani{
    transition: all 0.2s ease-in-out; 
}

body{
    background-color: rgb(244,242,243);
    color: #333;
    display: grid;
    grid-template-rows: 30px 1fr;
    font-size: 14px;
}

html, body{
    height: 100%;
    overflow: hidden;
}

.drag{
    -webkit-app-region: drag;
}

.flex-push{
    flex-grow: 1;
}

/* header space */

#window_header{
    border-bottom: 1px solid #d4d4d4;
    display: grid;
    grid-template-columns: 100px 120px 1fr 1fr;
    background: #fffcf8;
}

.btn-head{
    display: inline-block;
    padding: 0px 10px;
    border-radius: 5px;
    margin-right: 1px;
    margin-left: 1px;
}

.btn-head:hover{
    background: #b6b6b6;
}

.btn-head:active{
    background: #929292;
}

.btn-head[pressed="true"]{
    background: #929292;
}

.head_segments{
    padding: 2px 2px;
    display: flex;
}

#head_folder{
    text-align: right;
    flex-direction: row-reverse;
}

#head_list{
    width: 200px;
}

#head_edit_src{
    padding-right: 0px;
}

#head_edit{
    justify-content: flex-end;
    padding-left: 0px;
}

#total{
    display: grid;
    grid-template-columns: 100px 200px 1fr auto;
}

#target_space{    
    height: 100%;
    border-right: 1px solid rgb(216, 216, 216);
}

#record_space{
    height: 100%;
    border-right: 1px solid rgb(216, 216, 216);
    background: rgb(245, 242, 240);
}

#editor_space{
    display: grid;
    grid-template-columns: 1fr;
    max-height: calc(100vh - 30px);
}

.header-btn{
   color: black;
   text-shadow: 0px 0px 5px white;
   background: rgba(255,255,255,0.5)
}

.header-btn[select="true"] {
    color: gray;
    font-weight: bold;
}

.template{
    display: none;
}

#target_list{
    max-height: calc(100vh - 30px);
    overflow: scroll;
}

.text-btn{
    font-size: 12px;
}

.target{
    cursor: default;
    padding: 3px 15px;
    color: black;
}

.target[select="true"]{
    background: rgb(208, 208, 208);
}

/* records */
#records_space{
    flex-shrink: 0;
    height: 100%;
}
#record_list{
    overflow: scroll;
    max-height: calc(100vh - 30px);
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

#fill_record_space {
    height: 100vh;
}

.record{
    border-bottom: #EEE 1px solid;
    cursor: default;
    padding: 10px 0px;
    padding-left: 10px;
}

.record[select="true"]{
    background: rgb(255, 225, 161);
}

/* styles for '...'  http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/*/ 
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em; 
    /* fix problem when last visible word doesn't adjoin right   */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }

.info-big{
    font-size: 30px;
}

.info-med{
    font-size: 20px;
}

blockquote{
    padding: 5px;
    margin-left: 10px;
    border-left: 3px solid #00d9ff;
}


#target_foot{
    position: fixed;
    bottom: 5px;
    left: 10px;
}

#target_foot .iconfont{
    position: relative;
    top:2px;
}

.head-tab{
    background: #d7d7d7;
    padding: 0px 10px;
    border: 1px solid gray;
    width: 100px;
}


.head-tab[pressed="true"]{
    background: #ffffff;
}